@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  
}

:root{
    --main-color: #9932CC;
    --bg-fundo:#220B3B;
    --tex-color: #F8F8FD;
    --hover-box-shadow: rgba(0,0,0,0.19)0px 10px 20px, rgba(0,0,0,0.23)0px 6px 6px;
}

/* BARRA DE ROLAGEM */
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    
}

body{
    background-color: var(--bg-fundo);
    height: 100vh;
    color: var(--tex-color);
}

html{
    font-size: 62.5%;
    overflow-x: hidden ;
}

/*Animaçao de fundo*/
.animate-fundo{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 2px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -24vw -44vh 2px 2px #fff,38vw -4vh 0px 0px #fff,-20vw -48vh 1px 2px #fff,-39vw 38vh 3px 1px #fff,-42vw -11vh 0px 3px #fff,12vw 15vh 3px 3px #fff,42vw 6vh 3px 2px #fff,-8vw 9vh 0px 2px #fff,34vw -38vh 1px 0px #fff,-17vw 45vh 3px 1px #fff,22vw -36vh 3px 2px #fff,-42vw 1vh 1px 0px #fff;
    animation: zoom 3s alternate infinite;
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}

/*CAbeçalho*/

.header{
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 4%;
    align-items: center;
    justify-content: center; 

    background: transparent;
    z-index: 100; 
    box-shadow: 0 0 40px 10px #ffffff1d;
}

.navbar a{
    font-size: 1.8rem;
    color: var(--tex-color);
    font-weight: 500;
    margin-left: 4rem;
    position: relative; /*para colocar o traço animado em baixo*/
}

.navbar a::after{
    content: "";
    width: 0%;
    height: 2px;
    bottom: -3px;
    left: 0px;
    position: absolute;
    background-color: var(--main-color);
    transition: 0.3s ease;
}

.navbar a:hover::after{
    width: 100%;
}
.navbar a:active{
    opacity: 0.8;
}

/*icone de menu*/
#menu-icon{
    font-size: 3.6rem;
    color: var(--tex-color);
    display: none;
}

/*pagina parte 1*/

section{
    min-height: 100vh;
    padding: 10rem 9% 10rem;
    
}

.home{
    display: flex;
    align-items: center;   
}


.home-content-esquerda h3{
    font-size: 3rem;
    font-weight: 700;
}


.home-content-esquerda h1{
    font-size: 8rem;
    line-height: 1.2;
    color: var(--tex-color);
}

/*Animaçao do "Desenvolvedor web"*/
.home-content-esquerda .tex-animate h3 span{
    position: relative;
    font-size: 40px;

    background-image: linear-gradient(43deg, #8441d0 21%, #C850C0 66%);
    background-image: linear-gradient(43deg, #8441d0 21%, #C850C0 66%);

    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.home-content-esquerda .tex-animate h3 span::before{
    content: "";
    color: #220B3B;
    animation: palavras 20s infinite;

}

.home-content-esquerda .tex-animate h3 span::after{
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid #220B3B;
    right: -10px;
    animation: cursor .8s infinite, digita 20s steps(15) infinite;
    width: calc(100% + 10px);
    background-color: #220B3B ;
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }

    5%,20%,25%,40%,45%,60%,65%,80%,85%{
        width: calc(100% + 10px);
    } 
}

@keyframes cursor {
    0%{
        border-left: 2px solid #8441d0;
    }
}


@keyframes palavras {
    0%,100%{
        content: "Web Develope.";
    }
    
}
.home-img img{ 
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 45%;
}


.home-content-esquerda p{
    font-size: 1.8rem;
    font-weight: 500;
    width: 70%;
}


/*botao de rede social*/
.social-midia a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    color: var(--main-color);
    transition: 0.3s ease;
}

.social-midia a:hover{
    background: var(--main-color);
    color: #F8F8FD;
    transform: scale(1) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}

.social-midia a:active{
    opacity: 0.8;
}

.btn-cv{
    display: inline-block;
    padding: 1.6rem 3.9rem;
    font-size: 1.2rem;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);

    color: #F8F8FD;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn-cv i{
    
    font-size: 20px;
}

.btn-cv:hover{
    background: transparent;
    color: var(--main-color);
}


.home-content-direita img{
    position: absolute;
    bottom: 0;
    right: 30px;
    width: 45%;

}

/*sobre mim*/

section.sobre{
    box-shadow: 0 0 40px 10px #ffffff1d;
}


.titulo-sobreMim, .titulo-skills{
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.sobre .flex{
    margin-top: 50px;
    display: flex;
    gap: 60px;
}


/*botoes sobre*/
.sobre-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}



.sobre-btn button{
    color: var(--tex-color);
    background: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
    font-size: 14px;
    font-weight: 500;
    box-shadow: 0 0 40px 10px #ffffff1d;
    margin: .5rem;
    cursor: pointer;
    transition: all .3s ease;
}

.sobre-btn button.active{
    background: var(--main-color);
}

.text-box{
    margin: .8rem 0;
}

.content-btn > .content:not(:first-child){
    display: none;
}



.content-btn .content{
    margin-top: 20px;
    padding: 20px;
    background: #00000015;
    border: 2px solid #ffffff30;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}


.text-box .descricao-sobre{
    font-size: 18px;
    font-weight: 500;
    margin-top: 18px;
}



.info-sobre{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
    font-size: 15px;
    color: var(--main-color);
    font-weight: 700;
}


.info-sobre span{
    color: var(--tex-color);
}

.data-sobre{
    color: var(--main-color);
    font-size: 16px;


}

.titulo-educacao,  .text-box p.titulo{
    font-size: 35px;
    font-weight: 700;
    
}

.sub-titulo-escola{
    font-size: 18px;
    font-weight: 700;
    background: radial-gradient(circle, rgba(238,174,202,1) 6%, rgba(148,187,233,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    /*Defina a cor do texto para transparente*/
    color: transparent;
    
}

.descricao-educacao{
    margin: 15px 0 ;
    font-size: 15px;
    font-weight: 400;
    opacity: 0.8;
}


.habilidade-educacao{
    display: inline-flex;
    gap: 15px;
    font-size: 13px;
    align-items: center;
    color: var(--tex-color);
    font-weight: 500;
    
}
.habilidade-educacao p{
    background: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--main-color);
}

hr {
    margin: 30px 0;
    height: 2px;
    width: auto;
    background: radial-gradient(circle, rgba(238,174,202,1) 6%, rgba(148,187,233,1) 100%);
    border: none;
    display: block;
  }


.text-box p.sub-titulo{
    font-size: 20px;
    font-weight: 700;  
    background: radial-gradient(circle, rgba(238,174,202,1) 6%, rgba(148,187,233,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    /*Defina a cor do texto para transparente*/
    color: transparent;
    
}

.text-box p.descricao{
    margin: 13px 0 ;
    font-size: 18px;
    font-weight: 400;

    
}

.text-box p.descricao span{
    font-weight:bold;
    color: var(--main-color);
}

/*projetos*/

.projetos-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.projetos-container .projetos-box{
    position: relative;
    border-radius: 2rem;
    height: 550px;
    overflow: hidden;
    display: flex;
}

.projetos-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5 ease;
}











