@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  
}

:root{
    --main-color: #9932CC;
    --bg-fundo:#220B3B;
    --tex-color: #F8F8FD;
    --hover-box-shadow: rgba(0,0,0,0.19)0px 10px 20px, rgba(0,0,0,0.23)0px 6px 6px;
}

/* BARRA DE ROLAGEM */
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    
}

body{
    background-color: var(--bg-fundo);
    height: 100vh;
    color: var(--tex-color);
}

html{
    font-size: 62.5%;
    overflow-x: hidden ;
}

/*Animaçao de fundo*/
.animate-fundo{
    position: fixed;
    top: 50%;
    left: 50%;
    height: 2px;
    width: 2px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -24vw -44vh 2px 2px #fff,38vw -4vh 0px 0px #fff,-20vw -48vh 1px 2px #fff,-39vw 38vh 3px 1px #fff,-42vw -11vh 0px 3px #fff,12vw 15vh 3px 3px #fff,42vw 6vh 3px 2px #fff,-8vw 9vh 0px 2px #fff,34vw -38vh 1px 0px #fff,-17vw 45vh 3px 1px #fff,22vw -36vh 3px 2px #fff,-42vw 1vh 1px 0px #fff;
    animation: zoom 3s alternate infinite;
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}

/*CAbeçalho*/

.header{
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 4%;
    align-items: center;
    justify-content: center; 

    background: transparent;
    z-index: 100; 
    box-shadow: 0 0 40px 10px #ffffff1d;
}

.navbar a{
    font-size: 1.8rem;
    color: var(--tex-color);
    font-weight: 500;
    margin-left: 4rem;
    position: relative; /*para colocar o traço animado em baixo*/
}

.navbar a::after{
    content: "";
    width: 0%;
    height: 2px;
    bottom: -3px;
    left: 0px;
    position: absolute;
    background-color: var(--main-color);
    transition: 0.3s ease;
}

.navbar a:hover::after{
    width: 100%;
}
.navbar a:active{
    opacity: 0.8;
}




.navgtion-mobile{
    width: 100%;
    height: 70px;
    background: var(--main-color);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 10px ;
}

.navgtion-mobile ul{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.navgtion-mobile ul li{
    list-style: none;
    position: relative;
    width: 70px;
    height: 70px;
    z-index: 1;
    
}

.navgtion-mobile ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: var(--tex-color);
    text-decoration: none;
}


.navgtion-mobile ul li a .icon-mobile{
    position: relative;
    display: block;
    /*line-height: 75px;*/
    font-size: 1.6em;
    text-align: center;
    transition: 0.5s;
    color: var(--tex-color); /*cor icones*/
    margin-top: 20px;
}

.navgtion-mobile ul li.active a .icon-mobile{
    color: var(--bg-fundo);
    transition: 0.3s ease;

}

.navgtion-mobile ul li a .text-mobile{
    color: var(--tex-color);
    font-weight: 400;
    font-size: 1.1em;

}

.navgtion-mobile ul li.active a .text-mobile{
    color: var(--bg-fundo);
    transition: 0.3s ease;
}




.navgtion-mobile ul li:nth-child(1).active {
    transform: scale(1.3);
}
.navgtion-mobile ul li:nth-child(2).active{
    transform: scale(1.3);
}

.navgtion-mobile ul li:nth-child(3).active {
    transform: scale(1.3);
}
.navgtion-mobile ul li:nth-child(4).active {
    transform: scale(1.3);
}

/*pagina parte 1*/

section{
    min-height: 100vh;
    padding: 10rem 9% 10rem;
    
}

/*projetos*/

.titulo-projetos{
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.descricaoTitulo{
    padding: 15px 0;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.descricaoTitulo p{
    width: 50%;
    text-align: center;
}


.projetos-container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
    
}

.projetos-container .projetos-box{
    position: relative;
    border-radius: 2rem;
    height: 500px;
    overflow: hidden;
    display: flex;

    
    
}

.projetos-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5 ease;
    filter: grayscale(0.5) blur(2px);
    
    
}

.projetos-box:hover img{
    transform: scale(1.1);
}

.projetos-box .projetos-info{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    cursor: pointer;
    transition: 0.5s ease;
    
}

.projetos-box .projetos-info:hover{
    background: rgba(0, 0, 0, 0.75); 
    transform: scale(1.1);
}

.projetos-info h4{
    font-size: 3rem;
    color: var(--tex-color);
    font-weight: 800;
}

.links-projeto{
    margin-top: 10px;
    display: flex;
    gap: 15px;

}

.projetos-info a{
    color: var(--tex-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--main-color);
    border-radius: 50%;

    
}

.projetos-info a i{
    font-size: 3rem;
    color: var(--tex-color);
}

/*Footer*/
.footer{
    background: #9932cc25;
    position: relative;
    bottom: 0;
    width: 100%;

    /*padding: 10rem 9% 10rem;*/
    padding: 20px;
}

.footer .social-footer{
    text-align: center;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
}

.footer ul li a{
    font-size: 1.8rem;
    color: var(--tex-color);
    font-weight: 500;
    margin-left: 4rem;
    position: relative; /*para colocar o traço animado em baixo*/
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright{
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: var(--tex-color);
}


/*botao de rede social*/ 
.footer .social-footer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 2rem;
    margin: 3rem 1.5rem 3rem 0;
    color: var(--main-color);
    transition: 0.3s ease;
}

.footer .social-footer a:hover{
    background: var(--main-color);
    color: #F8F8FD;
    transform: scale(1) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
}

.footer .social-footer a:active{
    opacity: 0.8;
}

.link-whatsaap img{
    height: 40px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}



@media screen and (max-width: 1020px) {

    html {
        font-size: 55%;
    }

    .flex {
        flex-direction: column;
        /* colocar tudo um de baixo  do outro */
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
        /* para reverter so o texto e a imagem em movimento */
    }

    section.topo-do-site .flex {
        gap: 40px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    .topo-do-site .img-topo-site img {
        width: 80%;
    }

    .projetos-container {
        padding-bottom: 7rem;
        grid-template-columns: repeat(1, 1fr);
        margin: 4rem 5rem;
    }

    /* RODAPÉ */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }


}

/*Efeito do Scroll*/
.rolagem-projeto1,.rolagem-projeto2,.rolagem-projeto3,
.rolagem-projeto4{
    visibility: hidden; /*esconder o conteudo antes do efeito*/
}





@media screen and (max-width: 610px) {


    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    .footer ul {
        display: none;
    }


    .footer .copyright {
        margin-top: 10px;

    }
    .header{
        display: none;
     }
 
     .navgtion-mobile{
         display: flex;
         position: fixed;
         bottom: 0;
         min-width: 100%;
         z-index: 100;
     }

     .link-whatsaap img{
        /*bottom: 90px;*/
        display: none;
    }





}

@media screen and (max-width: 391px) {
    
    .header {
      display: none;

    }
}








